In [2]:
import pandas as pd

In [35]:
raw_data = [{"Gender": "Male", "HeightCm": 171, "WeightKg": 96 },
{ "Gender": "Male", "HeightCm": 161, "WeightKg": 85 },
{ "Gender": "Male", "HeightCm": 180, "WeightKg": 77 },
{ "Gender": "Female", "HeightCm": 166, "WeightKg": 62},
{"Gender": "Female", "HeightCm": 150, "WeightKg": 70},
{"Gender": "Female", "HeightCm": 167, "WeightKg": 82}]

data = pd.DataFrame(raw_data)

data.head()

   Gender  HeightCm  WeightKg
0    Male       171        96
1    Male       161        85
2    Male       180        77
3  Female       166        62
4  Female       150        70

In [27]:
def get_bmi(weight, height):
    return weight/(height/100)**2

In [31]:
def get_categories(bmi):
    if bmi<18.4:
        return 'Underweight', 'Malnutrition risk'
    elif bmi<24.9:
        return 'Normal weight', 'Low risk'
    elif bmi<29.9:
        return 'Overweight', 'Enhanced risk'
    elif bmi<34.9:
        return 'Moderately obese', 'Medium risk'
    elif bmi<39.9:
        return 'Severely obese', 'High risk'
    else:
        return 'Very severely obese', 'Very high risk'

In [40]:
data['bmi'] = data.apply(lambda col: get_bmi(col['WeightKg'], col['HeightCm']), axis=1)
data['bmi_category'], data['health_risk'] = zip(*data['bmi'].apply(get_categories))

In [39]:
data

   Gender  HeightCm  WeightKg        bmi      bmi_category    health_risk
0    Male       171        96  32.830615  Moderately obese    Medium risk
1    Male       161        85  32.791945  Moderately obese    Medium risk
2    Male       180        77  23.765432     Normal weight       Low risk
3  Female       166        62  22.499637     Normal weight       Low risk
4  Female       150        70  31.111111  Moderately obese    Medium risk
5  Female       167        82  29.402273        Overweight  Enhanced risk

### No. of Overweight people

In [45]:
no_overweight = sum(data['bmi_category']=='Overweight')
print(f'No. of overweight people:\t{no_overweight}')

No. of overweight people:	1